@use "./variables.scss" as *;

// put your custom CSS here!

.explorer {
  h2 {
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
  }
  @media (min-width: 801px) {
    &.collapsed {
      flex: 0 0 1.7rem !important;
    }
  }
  .folder-title {
    font-size: 1.1rem;
  }
  .folder-outer .folder-outer .folder-title {
    font-size: 1rem;
  }
  .explorer-content {
    font-size: 0.9rem;
  }
  .nav-file-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;

    &:hover {
      color: var(--tertiary);
      opacity: 1;
    }
  }
}

.graph h3,
.recent-notes > h3,
.toc-header h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.toc-content.overflow > li > a:hover {
  color: var(--tertiary);
  opacity: 1;
}

.breadcrumb-container a,
.toc-content a {
  font-weight: 400;
}

.recent-notes {
  .recent-ul {
    font-size: 0.9rem;
  }
  .recent-li {
    font-size: 0.9rem;
  }
}

article a,
article a.internal {
  text-decoration: underline;
  text-decoration-color: var(--tertiary);
}

body[data-slug="index"] .content-meta {
  display: none;
}

@media (max-width: 800px) {
  .page-title {
    font-size: 1.3rem;
  }
}